@import "tailwindcss";
@import "@heroui/styles";

/* Estilos adicionales para las películas */
.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}